# Web scraping libraries
selenium
webdriver-manager

# Importing custom modules
importlib-metadata
requests

# Data
pandas

# Web app
streamlit

# Stats
scipy

# Strings handling
# StringIO
# requirements.txt
